<!DOCTYPE html>

<!--Form to search for facilities that match a certain criteria -->
<div>
<h1>Terminal Search</h1>
</div>

<div>
<h4>Location</h4>
</div>


<form action="/markets">
  <div class="row g-3">
    <div class="col-sm-5">
      <label class="visually-hidden" for="city_name">City</label>
      <input id="city_name" type="text" class="form-control" placeholder="City" aria-label="city" name="city">
    </div>
    <div class="col-sm">
      <select class="form-select" aria-label="state" id="state_search" name="state">
        <option selected id="state_search">State</option>
          <% @state_list.each do |list|%>
            <option value="<%=list%>"><%=list%></option>
          <%end%>
      </select>
    </div>
    <div class="col-sm">
      <label class="visually-hidden" for="zip_num">Zip Code</label>
      <input id="zip_num" type="integer" class="form-control" placeholder="Zip Code" aria-label="zip" name="zip">
    </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<!-- Map showing all terminals -->

<div>
  <div class="map" id="map" style='height: 700px;'></div>
</div>

<button id="displayTerminalsBtn">Display terminals in this area</button>
    <div id="terminalList"></div>

<script>
  function initMap() {
    // initiate a new map
   var mapDiv = document.getElementById('map');
   var map = new google.maps.Map(mapDiv);


    // An empty bounds variable for seeting automatic zoom level (bounds of map)
    var bounds = new google.maps.LatLngBounds();

    // Store all markers for facilities
    var markers = [];


    <% Facility.all.each do |place| %>

      // Make info window for this place
      var infowindow_<%= place.id %> = new google.maps.InfoWindow({
        content: '<a href="/facilities/<%= place.id %>" target="_blank"> <%= place.name %></a>'
      });

      // Make marker for this place
        var marker_<%= place.id %> = new google.maps.Marker({
          position: {lat: <%= place.latitude %>, lng: <%= place.longitude %>},
          map: map,
          title: "<%= place.name %>",
          icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
        });

      // Click to show info window
      marker_<%= place.id %>.addListener('click', function() {
        infowindow_<%= place.id %>.open(map, marker_<%= place.id %>);
      });

      // Add this marker in map bounds
      bounds.extend(new google.maps.LatLng(<%= place.latitude %>, <%= place.longitude %>));


      // Add this marker to the markers array
      markers.push(marker_<%= place.id %>);
      
    <% end %>

    map.fitBounds(bounds);
         
     google.maps.event.addListener(map, 'idle', function() {
              var current_bounds =  map.getBounds();
              var ne = current_bounds.getNorthEast();
              var sw = current_bounds.getSouthWest();
              var ne_lat = ne.lat();
                document.getElementById("nwlat").innerHTML = ne_lat;
              var ne_lng = ne.lng();
                document.getElementById("nwlng").innerHTML = ne_lng;
              var sw_lat = sw.lat();
                document.getElementById("swlat").innerHTML = sw_lat;
              var sw_lng = sw.lng();
                document.getElementById("swlng").innerHTML = sw_lng;

  
     });
      
      // Add event listener for search area button click
    document.getElementById("search-area-btn").addEventListener("click", function() {
      var currentBounds = map.getBounds();
      var facilitiesInArea = [];

      // Iterate through all markers to check if they are within the bounds
      for (var i = 0; i < markers.length; i++) {
        var markerPosition = markers[i].getPosition();

        if (currentBounds.contains(markerPosition)) {
          facilitiesInArea.push(markers[i].getTitle());
        }
      }

      // Display facilities in area as a list
      var facilitiesList = document.getElementById("facilities-in-area");
      facilitiesList.innerHTML = "";

      if (facilitiesInArea.length > 0) {
        for (var i = 0; i < facilitiesInArea.length; i++) {
          var facilityItem = document.createElement("li");
          var facilityLink = document.createElement("a");
          facilityLink.href = "/facilities/" + facilitiesInArea[i].toLowerCase().replace(/\s+/g, '-');
          facilityLink.textContent = facilitiesInArea[i];
          facilityItem.appendChild(facilityLink);
          facilitiesList.appendChild(facilityItem);
        }
      } else {
        var noFacilities = document.createElement("li");
        noFacilities.textContent = "No facilities found in this area.";
        facilitiesList.appendChild(noFacilities);
      }
    });
  };

</script>


<!--
  <div id="nwlat"></div>
  <h1>NE Lng: <span id="nwlng"></span></h1>
  <h1>SW Lat: <span id="swlat"></span></h1>
  <h1>SE Lng: <span id="swlng"></span></h1>
-->


<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV.fetch("GMAPS_KEY")%>&callback=initMap"async defer></script>




<style>
  .map{
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .col-auto{
    padding-top: 10px;
    padding-bottom: 15px;
  }
  
</style>
