<!DOCTYPE html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="page-wrapper">
<h1>Facilities</h1>

<div class="row">
  <div class="col-md-3">
    <form id="search-form">
      <div class="form-group">
        <%= label_tag :name, "Facility Name" %>
        <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Enter facility name" %>
      </div>
      <div class="form-group">
        <%= label_tag :state, "State" %>
        <%= select_tag :state, options_for_select(@states), prompt: "Select a state", class: "form-control" %>
      </div>
            <div class="form-group">
        <%= label_tag :city, "City" %>
        <%= text_field_tag :city, params[:city], class: "form-control", placeholder: "Enter city" %>
      </div>
      <div class="form-group">
        <%= label_tag :zip, "Zip Code" %>
        <%= text_field_tag :zip, params[:zip], class: "form-control", placeholder: "Enter zip code" %>
      </div>

      <div class="form-group">
        <label>Products</label>
        <% products = ["asphalt", "chemicals", "propane", "ethanol", "refined", "biodiesel", "crude_oil", "jetfuel", "gasoline", "distillate", "avgas", "butane", "renewable_diesel"] %>
        <% products.each do |product| %>
          <div class="form-check">
            <%= check_box_tag product, 1, false, class: "form-check-input" %>
            <%= label_tag product, product.capitalize, class: "form-check-label" %>
          </div>
        <% end %>
      </div>

      <%= submit_tag "Search", class: "btn btn-primary" %>
    </form>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
          <div id="map"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="stats-cards" style="display: none;">
          <div class="row">
            <div class="col-md-6">
                <div class="card text-center">
                  <div class="card-header">
                    <strong>Number of Terminals</strong>
                  </div>
                  <div class="card-body">
                    <p class="card-text" id="facility-count"></p>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">
                  <strong>Total Storage Capacity (bbls)</strong>
                </div>
                <div class="card-body">
                  <p class="card-text" id="total-capacity"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-3">
      <div class="row" id="facility-cards">
        <!-- Facility cards will be inserted here -->
      </div>
    </div>

  </div>
</div>

</div>

<script>
  function initMap() {
    window.markers = [];
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: { lat: 39.8283, lng: -98.5795 }
    });

    var markers = <%=raw @markers.to_json %>;

    markers.forEach(function(markerData) {
      var infowindow = new google.maps.InfoWindow({
        content: '<a href="/facilities/' + markerData.id + '" target="_blank">' + markerData.name + '</a>'
      });

      var marker = new google.maps.Marker({
        position: { lat: markerData.latitude, lng: markerData.longitude },
        map: map
      });

      marker.addListener('click', function() {
        infowindow.open(map, this);
      });

      window.markers.push(marker);
    });

    window.map = map;
  }

  function searchFacilities() {
    var name = $('input[name="name"]').val().toUpperCase();
    var state = $('select[name="state"]').val();
    var city = $('input[name="city"]').val();
    var zip = $('input[name="zip"]').val();

    var products = [];
    $("input[type='checkbox']:checked").each(function () {
      products.push($(this).attr("name"));
    });

    $.ajax({
      url: "/map/search",
      method: "GET",
      data: {
        name: name,
        state: state,
        city: city,
        zip: zip,
        products: products
      },
      dataType: "json",
      success: function(response) {
        console.log(response);
        var markers = response.markers;

        // clear existing markers from map
        for (var i = 0; i < window.markers.length; i++) {
          window.markers[i].setMap(null);
        }
        window.markers = [];

        markers.forEach(function(markerData) {
          var infowindow = new google.maps.InfoWindow({
            content: '<a href="/facilities/' + markerData.id + '" target="_blank">' + markerData.name + '</a>'
          });

          var marker = new google.maps.Marker({
            position: { lat: markerData.latitude, lng: markerData.longitude },
            map: window.map
          });

          marker.addListener('click', function() {
            infowindow.open(window.map, this);
          });

          window.markers.push(marker);
        });

        // Show the stats-cards div
        $('#stats-cards').show();

        // Add commas to make the nubmers more readable
        function formatNumber(num) {
          return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        }
        // Update the count and total capacity
        var count = response.count;
        var total_capacity = formatNumber(response.total_capacity);
        $('#facility-count').text(count);
        $('#total-capacity').text(total_capacity);

        // Create facility cards
        var facilityCards = $('#facility-cards');
        facilityCards.empty();

        response.markers.forEach(function(markerData) {
          var formattedCapacity = formatNumber(markerData.capacity);
          var card = $('<div class="col-md-4 col-sm-6 col-12 mb-3">' +
                        '<div class="card text-center">' +
                          '<div class="card-header">' +
                            '<strong>' + markerData.name + '</strong>' +
                          '</div>' +
                          '<div class="card-body">' +
                            '<p class="card-text">Address: ' + markerData.address + ', ' + markerData.city + ', ' + markerData.state + '</p>' +
                            '<p class="card-text">Capacity: ' + formattedCapacity + '</p>' + // Use the formatted capacity here
                            '<a href="/facilities/' + markerData.id + '" target="_blank" class="btn btn-primary">Terminal Details</a>' +
                          '</div>' +
                        '</div>' +
                      '</div>');
          facilityCards.append(card);
        });


    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.log("Error: ", textStatus, errorThrown);
    }
  });
}

  $(document).ready(function() {
    initMap();
    $('#search-form').on('submit', function(e) {
      searchFacilities();
      return false;
    });
  });

</script>


<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV.fetch("GMAPS_KEY")%>&callback=initMap"></script>


<style>
  .page-wrapper {
    margin-left: 2rem;
    margin-right: 2rem; 
  }
  .col-auto{
    padding-left: 10px;
    padding-bottom: 15px;
  }

  #map{
    border-radius: 10px;
    margin-bottom: 20px;
    height: 75vh;
  }
  
</style>
