<div>
  <div>
    <h1>
      List of all facilities
    </h1>
  </div>
</div>



<%= search_form_for @q do |f| %>
  <p>Narrow results:</p>

  <div>
    <%= f.label :name_cont, "Title containing" %>
    <%= f.text_field :name_cont, :placeholder => "Enter a few characters" %>
  </div>



  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/facilities">Clear filters</a>
<% end %>



<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          City
        </th>

        <th>
          Website
        </th>

        <th>
          Owner
        </th>

        <th>
          Operator
        </th>

        <th>
          Capacity
        </th>

        <th>
        </th>
      </tr>


      <% @list_of_facilities.each do |a_facility| %>
      <tr>
        <td>
          <%= a_facility.id %>
        </td>

        <td>
          <%= a_facility.name %>
        </td>

        <td>
          <%= a_facility.city %>
        </td>

        <td>
          <%= a_facility.website %>
        </td>

        <td>
          <%= a_facility.owner %>
        </td>

        <td>
          <%= a_facility.operator %>
        </td>

        <td>
          <%= a_facility.capacity %>
        </td>


        <td>
          <a href="/facilities/<%= a_facility.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
