<div>
  <div>
    <h1>
      List of all facilities
    </h1>
  </div>
</div>


<br>
<%= search_form_for @q do |f| %>
  <p>Narrow results:</p>

  <div>
    <%= f.label :name_cont, "Name:" %>
    <%= f.text_field :name_cont, :placeholder => "Enter Facility Name" %>
  </div>

  <div>
    <%= f.label :city_cont, "City" %>
    <%= f.text_field :city_cont, :placeholder => "City" %>
  </div>

  <div>
    <%= f.label :state_cont, "State" %>
    <%= f.text_field :state_cont, :placeholder => "State" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/facilities">Clear filters</a>
<% end %>



<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
        <th>Website</th>
        <th>Owner</th>
        <th>Operator</th>
        <th>Capacity</th>
        <th>Truck In</th>
        <th>Truck Out</th>
        <th>Pipe In</th>
        <th>Pipe Out</th>
        <th>Marine In</th>
        <th>Marine Out</th>
        <th>Rail In</th>
        <th>Rail Out</th>
        <th>Asphalt</th>
        <th>Chemicals</th>
        <th>Propane</th>
        <th>Ethanol</th>
        <th>Refined</th>
        <th>Biodiesel</th>
        <th>Crude Oil</th>
        <th>Jetfuel</th>
        <th>Gasoline</th>
        <th>Distillate</th>
        <th>Avgas</th>
        <th>Butane</th>
        <th>Renewable Diesel</th>

        <th></th>
      </tr>


      <% @list_of_facilities.each do |a_facility| %>
        <form id="updating_the_facility" action="/quick_modify_facility/<%= a_facility.id %>"  method="post">
        <tr>
          <td><%= a_facility.id %></td>

          <td><input type="text" name="query_name" value="<%= a_facility.name %>"></td>
          <td><input type="text" name="query_city" value="<%= a_facility.city %>"></td>
          <td><input type="text" name="query_website" value="<%= a_facility.website %>"></td>
          <td><input type="text" name="query_owner" value="<%= a_facility.owner %>"></td>
          <td><input type="text" name="query_operator" value="<%= a_facility.operator %>"></td>
          <td><input type="number" name="query_capacity" value="<%= a_facility.capacity %>"></td>
          
          <td><input type="text" name="query_truck_in" value="<%= a_facility.truck_in %>"></td>
          <td><input type="text" name="query_truck_out" value="<%= a_facility.truck_out %>"></td>
          <td><input type="text" name="query_pipe_in" value="<%= a_facility.pipe_in %>"></td>
          <td><input type="text" name="query_pipe_out" value="<%= a_facility.pipe_out %>"></td>
          <td><input type="text" name="query_marine_in" value="<%= a_facility.marine_in %>"></td>
          <td><input type="text" name="query_marine_out" value="<%= a_facility.marine_out %>"></td>
          <td><input type="text" name="query_rail_in" value="<%= a_facility.rail_in %>"></td>
          <td><input type="text" name="query_rail_out" value="<%= a_facility.rail_out %>"></td>

          <td><input type="checkbox" name="query_asphalt" <%= "checked" if a_facility.asphalt %>></td>
          <td><input type="checkbox" name="query_chemicals" <%= "checked" if a_facility.chemicals %>></td>
          <td><input type="checkbox" name="query_propane" <%= "checked" if a_facility.propane %>></td>
          <td><input type="checkbox" name="query_ethanol" <%= "checked" if a_facility.ethanol %>></td>
          <td><input type="checkbox" name="query_refined" <%= "checked" if a_facility.refined %>></td>
          <td><input type="checkbox" name="query_biodiesel" <%= "checked" if a_facility.biodiesel %>></td>
          <td><input type="checkbox" name="query_crude_oil" <%= "checked" if a_facility.crude_oil %>></td>
          <td><input type="checkbox" name="query_jetfuel" <%= "checked" if a_facility.jetfuel %>></td>
          <td><input type="checkbox" name="query_gasoline" <%= "checked" if a_facility.gasoline %>></td>
          <td><input type="checkbox" name="query_distillate" <%= "checked" if a_facility.distillate %>></td>
          <td><input type="checkbox" name="query_avgas" <%= "checked" if a_facility.avgas %>></td>
          <td><input type="checkbox" name="query_butane" <%= "checked" if a_facility.butane %>></td>
          <td><input type="checkbox" name="query_renewable_diesel" <%= "checked" if a_facility.renewable_diesel %>></td>
          
          <td><button id="updating_the_facility">Update Terminal</button></td>

          </form>

 
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
