<div>
  <h1><%= @the_facility.name %> Terminal Details</h1>
</div>
<hr>

<div>
  <h4>Basic Info</h4>
</div>

  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Owner
        </div>
        <div class="card-body">
          <p class="card-text"><%= @the_facility.owner %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Operator
        </div>
        <div class="card-body">
          <p class="card-text"><%= @the_facility.operator %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Status
        </div>
        <div class="card-body">
          <p class="card-text"><%= @the_facility.status %></p>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Capacity (bbls)
        </div>
        <div class="card-body">
          <p class="card-text"><%= @the_facility.capacity %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Commodity
        </div>
        <div class="card-body">
          <p class="card-text"><%= @the_facility.commodity %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Type
        </div>
        <div class="card-body">
          <p class="card-text"><%= @the_facility.term_type %></p>
        </div>
      </div>
    </div>
  </div>

<div>
  <h4>Contact Information</h4>
</div>

  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Address
        </div>
        <div class="card-body">
          <p class="card-text"><%= @the_facility.address %><br><%= @the_facility.city %>, <%= @the_facility.state %> <%= @the_facility.zip %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Phone
        </div>
        <div class="card-body">
          <p class="card-text"><%= @the_facility.phone %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Company Website
        </div>
        <div class="card-body">
          <p class="card-text"><%= @the_facility.website %></p>
        </div>
      </div>
    </div>
  </div>


<div>
  <h4>Logistics</h4>
</div>

<div class="col-md-6">
  <table class="table table-bordered table-striped table-responsive">
    <tr>
      <td></td>
      <th>In</th>
      <th>Out</th>
    </tr>
    <tr>
      <th>Pipe</th>
      <td><%= @the_facility.pipe_in %></td>
      <td><%= @the_facility.pipe_out %></td>
    </tr>
    <tr>
      <th>Truck</th>
      <td><%= @the_facility.truck_in %></td>
      <td><%= @the_facility.truck_out %></td>
    </tr>
    <tr>
      <th>Rail</th>
      <td><%= @the_facility.rail_in %></td>
      <td><%= @the_facility.rail_out %></td>
    </tr>
    <tr>
      <th>Marine</th>
      <td><%= @the_facility.marine_in %></td>
      <td><%= @the_facility.marine_out %></td>
    </tr>
  </table>
</div>

<hr>

<h2>Terminal Notes</h2>

<div class="col-md-6">
  <table class="table table-bordered table-striped table-responsive">
    <tr>
      <th>User</th>
      <th>Note</th>
      <th>Created at</th>
      <th>Delete note</th>
    </tr>
    <% @list_of_terminal_notes.where( :terminal_id => @the_facility.id).each do |a_terminal_note| %>
    <tr>
      <% note_maker = a_terminal_note.user_id %>
      <td><%= User.where( :id => note_maker ).at(0).first_name%></td>
      <td><%= a_terminal_note.note %></td>
      <td><%= time_ago_in_words(a_terminal_note.created_at) %> ago</td>
      <td><a href="/delete_terminal_note/<%= a_terminal_note.id %>">Delete</td>
    </tr>
    <% end %>
  </table>
</div>


<h4>Add a new note about this terminal</h4>

<div class="col-md-8">
  <form action="/insert_terminal_note" method="post">
    <input id="query_terminal_id" type="hidden" value="<%= @the_facility.id %>" name="query_terminal_id">
    <textarea id="browser_note" rows="3" cols="60" name="query_note" placeholder="Enter note..."></textarea>
    <button id="browser_note">Add note</button>
  </form>
</div>


<hr>


<div>
  <div>
    <a href="/delete_facility/<%= @the_facility.id %>">
      Delete facility
    </a>
  </div>
</div>




<h2>
  Edit facility
</h2>

<form id="updating_the_facility" action="/modify_facility/<%= @the_facility.id %>"  method="post">
   <div>
    <label for="name_box">
       Name
     </label>

    <input type="text" id="name_box" name="query_name" value="<%= @the_facility.name %>">
   </div>

   <div>
     <label for="address_box">
       Address
    </label>

     <input type="text" id="address_box" name="query_address" value="<%= @the_facility.address %>">
   </div>

   <div>
     <label for="phone_box">
       Phone
     </label>

     <input type="text" id="phone_box" name="query_phone" value="<%= @the_facility.phone %>">
  </div>

  <div>
    <label for="term_type_box">
      Term type
    </label>

     <input type="text" id="term_type_box" name="query_term_type" value="<%= @the_facility.term_type %>">
   </div>

   <div>
    <label for="status_box">
         Status
     </label>
     <input type="text" id="status_box" name="query_status" value="<%=@the_facility.status %>">
  </div>

   <div>
     <label for="county_box">
       County
     </label>

     <input type="text" id="county_box" name="query_county" value="<%= @the_facility.county %>">
   </div>

   <div>
     <label for="latitude_box">
       Latitude
     </label>

     <input type="text" id="latitude_box" name="query_latitude" value="<%= @the_facility.latitude %>">
   </div>

   <div>
    <label for="longitude_box">
      Longitude
     </label>

    <input type="text" id="longitude_box" name="query_longitude" value="<%= @the_facility.longitude %>">
   </div>

   <div>
    <label for="source_box">
       Source
     </label>

     <input type="text" id="source_box" name="query_source" value="<%= @the_facility.source %>">
   </div>

   <div>
     <label for="website_box">
      Website
     </label>

     <input type="text" id="website_box" name="query_website" value="<%= @the_facility.website %>">
   </div>

  <div>
     <label for="owner_box">
       Owner
     </label>

     <input type="text" id="owner_box" name="query_owner" value="<%= @the_facility.owner %>">
  </div>
   <div>
    <label for="operator_box">
      Operator
    </label>

     <input type="text" id="operator_box" name="query_operator" value="<%= @the_facility.operator %>">
   </div>

  <div>
     <label for="commodity_box">
      Commodity
     </label>

    <input type="text" id="commodity_box" name="query_commodity" value="<%= @the_facility.commodity %>">
   </div>

   <div>
    <label for="capacity_box">
      Capacity
    </label>

    <input type="text" id="capacity_box" name="query_capacity" value="<%= @the_facility.capacity %>">
   </div>

   <div>
     <input type="checkbox" id="truck_in_box" name="query_truck_in" value="1" <%= "checked" if @the_facility.truck_in %>>

    <label for="truck_in_box">
         Truck in
     </label>
   </div>

   <div>
     <input type="checkbox" id="truck_out_box" name="query_truck_out" value="1<%= "checked" if @the_facility.truck_out %>>

     <label for="truck_out_box">
        Truck out
    </label>
  </div>

  <div>
     <input type="checkbox" id="pipe_in_box" name="query_pipe_in" value="1" <%= "checked" if @the_facility.pipe_in %>>

     <label for="pipe_in_box">
         Pipe in
    </label>
   </div>

   <div>
    <input type="checkbox" id="pipe_out_box" name="query_pipe_out" value="1" <%= "checked" if @the_facility.pipe_out %>>

    <label for="pipe_out_box">
        Pipe out
    </label>
  </div>

  <div>
    <input type="checkbox" id="marine_in_box" name="query_marine_in" value="1<%= "checked" if @the_facility.marine_in %>>

    <label for="marine_in_box">
        Marine in
    </label>
  </div>

  <div>
    <input type="checkbox" id="marin_out_box" name="query_marine_out" value="1<%= "checked" if @the_facility.marine_out %>>

    <label for="marine_out_box">
        Marine out
     </label>
   </div>

  <div>
     <input type="checkbox" id="rail_in_box" name="query_rail_in" value="1" <%"checked" if @the_facility.rail_in %>>

     <label for="rail_in_box">
         Rail in
     </label>
  </div>

  <div>
    <input type="checkbox" id="rail_out_box" name="query_rail_out" value="1" <%"checked" if @the_facility.rail_out %>>

    <label for="rail_out_box">
        Rail out
    </label>
  </div>

   <div>
     <label for="parsel_box">
       Parsel
     </label>

    <input type="text" id="parsel_box" name="query_parsel" value="<%= @the_facility.parsel %>">
   </div>

   <div>
     <label for="city_box">
       City
     </label>

     <input type="text" id="city_box" name="query_city" value="<%= @the_facility.city %>">
   </div>

   <div>
     <label for="state_box">
       State
     </label>

    <input type="text" id="state_box" name="query_state" value="<%= @the_facility.state %>">
  </div>

   <div>
     <label for="zip_box">
      Zip
    </label>

     <input type="text" id="zip_box" name="query_zip" value="<%= @the_facility.zip %>">
   </div>

   <div>
    <label for="zip4_box">
       Zip4
    </label>

    <input type="text" id="zip4_box" name="query_zip4" value="<%= @the_facility.zip4 %>">
   </div>

   <div>
     <label for="tanks_count_box">
      Tanks count
    </label>

    <input type="text" id="tanks_count_box" name="query_tanks_count" value="<%= @the_facility.tanks_count %>">
   </div>

   <button id="updating_the_facility">
    Update facility
   </button>
</form>






<style>
  .col-md-4{
    margin-bottom: 20px;
  }
</style>
