<div>
  <div>
    <h1>
      Company #<%= @the_company.id %> details
    </h1>

    <div>
      <div>
        <a href="/companies">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_company/<%= @the_company.id %>">
          Delete company
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Company name
      </dt>
      <dd>
        <%= @the_company.company_name %>
      </dd>

      <dt>
        Users count
      </dt>
      <dd>
        <%= @the_company.users_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_company.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_company.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit company
    </h2>

    <form action="/modify_company/<%= @the_company.id %>"  method="post" >
      <div>
        <label for="company_name_box">
          Company name
        </label>

        <input type="text" id="company_name_box" name="query_company_name" value="<%= @the_company.company_name %>">
      </div>

      <div>
        <label for="users_count_box">
          Users count
        </label>

        <input type="text" id="users_count_box" name="query_users_count" value="<%= @the_company.users_count %>">
      </div>

      <button>
        Update company
      </button>
    </form>
  </div>
</div>

<hr>
