<!DOCTYPE html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<h1>Facilities</h1>

<div class="row">
  <div class="col-md-3">
    <form id="search-form">
      <div class="form-group">
        <%= label_tag :name, "Facility Name" %>
        <%= text_field_tag :name, params[:name], class: "form-control", placeholder: "Enter facility name" %>
      </div>
      <div class="form-group">
        <%= label_tag :state, "State" %>
        <%= select_tag :state, options_for_select(@states), prompt: "Select a state", class: "form-control" %>
      </div>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </form>
  </div>
  <div class="col-md-9">
    <div id="map" style="height: 500px;"></div>
  </div>
</div>

<script>
  function initMap() {
    window.markers = [];
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: { lat: 39.8283, lng: -98.5795 }
    });

    var markers = <%=raw @markers.to_json %>;

    markers.forEach(function(markerData) {
      var infowindow = new google.maps.InfoWindow({
        content: markerData.name
      });

      var marker = new google.maps.Marker({
        position: { lat: markerData.latitude, lng: markerData.longitude },
        map: map
      });

      marker.addListener('click', function() {
        infowindow.open(map, this);
      });

      window.markers.push(marker);
    });

    window.map = map;
  }

  function searchFacilities() {
    var name = $('input[name="name"]').val();
    var state = $('select[name="state"]').val();

    $.ajax({
      url: "/map2/search",
      method: "GET",
      data: { name: name, state: state },
      dataType: "json",
      success: function(response) {
        var markers = response.markers;

        // clear existing markers from map
        for (var i = 0; i < window.markers.length; i++) {
          window.markers[i].setMap(null);
        }
        window.markers = [];

        markers.forEach(function(markerData) {
          var infowindow = new google.maps.InfoWindow({
            content: markerData.name
          });

          var marker = new google.maps.Marker({
            position: { lat: markerData.latitude, lng: markerData.longitude },
            map: window.map
          });

          marker.addListener('click', function() {
            infowindow.open(window.map, this);
          });

          window.markers.push(marker);
        });
      },
      error: function() {}
    });
  }

  $(document).ready(function() {
    initMap();
    $('#search-form').on('submit', function(e) {
      e.preventDefault();
      searchFacilities();
    });
  });

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV.fetch("GMAPS_KEY")%>&callback=initMap" async defer></script>
